<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="login/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="login/css/util.css">
    <link rel="stylesheet" type="text/css" href="login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
            <form  autocomplete="off" action="#" th:action="@{/register}"
                   th:object="${user}" method="post" class="m-t" role="form"
                   data-toggle="validator">

					<span class="login100-form-title p-b-55">
						Registration
					</span>

                <div class="wrap-input100 validate-input m-b-16" data-validate = "First Name is required">
                    <input class="input100" type="text" name="firstName"
                           placeholder="First Name" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<span class="lnr lnr-text-size"></span>
						</span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate = "Last Name is required">
                    <input class="input100" type="text" name="lastName"
                           placeholder="Last name" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<span class="lnr lnr-text-size"></span>
						</span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="username"
                           placeholder="Email" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                    <input class="input100" type="password" name="password"
                           placeholder="Password" required>

                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate = "Role is required">
                    <input class="input100" type="text" name="role"
                           placeholder="Role" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<span class="lnr lnr-users"></span>
						</span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate = "Phone number is required">
                    <input class="input100" type="text" name="phoneNumber"
                           placeholder="Phone number" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<span class="lnr lnr-phone-handset"></span>
						</span>
                </div>

                <div class="container-login100-form-btn p-t-25">
                    <button class="login100-form-btn">
                        Register
                    </button>
                </div>

            </form>

            <div class="text-center w-full p-t-115">
               <span class="txt1">
                    <small class="text-success" th:if="${message}" th:text="${message}">Created...</small>
                </span>
            </div>

            <div class="text-center w-full p-t-115">
						<span class="txt1">
							Already have an account?
						</span>

                <a class="txt1 bo1 hov1" th:href="@{/loginPage}">
                    Log-in
                </a>
            </div>

            <div class="text-center w-full p-t-115">

            </div>

        </div>
    </div>
</div>




<!--===============================================================================================-->
<script src="login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="login/vendor/bootstrap/js/popper.js"></script>
<script src="login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="login/js/main.js"></script>

</body>
</html>